<h1>Welcome</h1>
<form method="get" action="/vraag/1">
    <label><h5>Hoe heet je?</h5>
        <input type="text" id="name_input" placeholder="Voornaam..." name="naam" required>
    </label>
    <label><h5>Welke opleiding doe je?</h5>
    <input type="text" id="id_nr" placeholder="Studenten..." name="stdnt_nr" required>
    </label>
    <input type="submit" value="Start">
</form>

