<h1>Vraag 4</h1>
<form method="get" action="/vraag/5" target="_self">
    <label>Hoe heet je?<br>
        <input type="text" id="name_input" placeholder="Naam: " name="naam">
    </label><br><br>
    <a href="/vraag3">terug</a>
    <input type="submit" value="Previous">
</form>