<h1>Vraag 1</h1>
<form method="post" action="/vraag/2" target="_self">
    <label><h4>Wat studeer je?</h4>
        <select name="studie" id="">
            <option value="CMD">CMD</option>
            <option value="SE">SE</option>
            <option value="TI">TI</option>
            <option value="GD">GD</option>
        </select>
    </label><br><br>
    <a href="">terug</a>
    <input type="submit" value="Next">
</form>

