<%- include('partials/header') %>
<h1>Vraag 1</h1>
<form method="post" action="/vraag2" target="_self">
    <label><h4>Wat studeer je?</h4>
        <select name="studie" id="studie">
            <option value="CMD">CMD</option>
            <option value="SE">SE</option>
            <option value="TI">TI</option>
            <option value="GD">GD</option>
        </select>
    </label><br><br>
    <input type="submit" value="Volgende">
</form>
<script>
    let input = document.getElementById('studie')
    <% if ( content ) { %>
        input.value = "<%= content.studie %>";
    <% } %>
</script>
<%- include('partials/footer') %>

