<h1>Vraag 2</h1>
<form method="get" action="/vraag/3" target="_self">
    <label>Wat wil je later worden?<br>
        <textarea name="description" id="" cols="30" rows="10" placeholder="vertel...">

        </textarea>
    </label><br><br>
    <a href="/vraag1">terug</a>
    <input type="submit" value="Next">
</form>