<h1>Vraag 2</h1>
<form method="post" action="/vraag/3" target="_self">
    <label>Hoe heet je?<br>
        <input type="text" id="name_input" placeholder="Naam: " name="naam">
    </label><br><br>
    <a href="/vraag1">terug</a>
    <input type="submit" value="Next">
</form>