<h3>Vraag 3</h3>
<form method="post" action="/vraag/4" target="_self">
    <label>Hoe heet je?<br>
        <input type="text" id="name_input" placeholder="Naam: " name="naam">
    </label><br><br>
    <input type="submit" value="Previous">
    <input type="submit" value="Next">
</form>